; - document this nicely -
; - make schema ? -
; - make wiki ? -
; - make actual editor for it ? -
; - mix with properties ? -
{:app {:title "Cyber Dungeon Quest"
       :width  1440
       :height 900
       :full-screen? false
       :fps 60}
 :context [[:context/config {:tag :dev
                             :configs {:prod {:map-editor? false
                                              :property-editor? false
                                              :debug-window? false
                                              :debug-options? false}
                                       :dev {:map-editor? true
                                             :property-editor? true
                                             :debug-window? true
                                             :debug-options? true}}}]
           [:context/input]
           [:context/assets {:folder "resources/"
                             :sound-file-extensions #{"wav"}
                             :image-file-extensions #{"png" "bmp"}
                             :log-load-assets? false}]
           [:context/graphics {:world-view {:tile-size 48}
                               :default-font {:file "exocet/films.EXL_____.ttf"
                                              :size 16
                                              :quality-scaling 2}}]
           [:context/ui]
           [:context/tiled]
           [:context/transaction-handler] [:tx/all]
           [:context/effect] [:effect/all]
           [:context/ecs] [:entity/all]
           [:context/modifier] [:modifier/all]
           [:property/all] ; -> properties
           [:context/property-types {:properties/audiovisual true ; -> properties
                                     :properties/creature true
                                     :properties/item true
                                     :properties/skill true
                                     :properties/world true}]
           [:context/properties {:file "resources/properties.edn"}]
           [:context/potential-fields] ; -> world ?
           [:context/game [:context/action-bar
                           :context/inventory
                           :context/uids-entities
                           :context/thrown-error
                           :context/game-paused
                           :context/game-logic-frame
                           :context/elapsed-game-time
                           :context/mouseover-entity
                           :context/player-message]]
           [:context/screens {:first-screen :screens/main-menu
                              :screens {:screens/game           true
                                        :screens/main-menu      true
                                        :screens/map-editor     true
                                        :screens/minimap        true
                                        :screens/options-menu   true
                                        :screens/property-editor true}}]]}
