; - document this nicely -
; - make schema ! -> telling you missed keys, like I just forgot quality-sclaing.
; - make wiki ? -
; - make actual editor for it ? -
; - mix with properties ? -
{:app {:title "Cyber Dungeon Quest"
       :width  1440
       :height 900
       :full-screen? false
       :fps 60}
 :context [[:context/config {:tag :dev
                             :configs {:prod {:map-editor? false
                                              :property-editor? false
                                              :debug-window? false
                                              :debug-options? false}
                                       :dev {:map-editor? true
                                             :property-editor? true
                                             :debug-window? true
                                             :debug-options? true}}}]
           [:context/input]
           [:context/tiled]
           [:context/assets {:folder "resources/"
                             :sound-file-extensions #{"wav"}
                             :image-file-extensions #{"png" "bmp"}
                             :log-load-assets? false}]
           ; TODO graphics dispose cursors
           [:context/graphics {:world-view {:tile-size 48} ; can not be omitted, becuz render-view does sth ?
                               :default-font {:file "exocet/films.EXL_____.ttf"
                                              :size 16
                                              :quality-scaling 2}}]
           ; TODO dispose stage-screens
           [:context/ui]
           [:context/properties {:types [:properties/audiovisual
                                         :properties/creature
                                         :properties/item
                                         :properties/skill
                                         :properties/world]
                                 :file "resources/properties.edn"}]
           [:context/game [:context/action-bar ; this is anyway specific to the game context, no need to pass it here??
                           :context/inventory
                           :context/uids-entities
                           :context/thrown-error
                           :context/game-paused
                           :context/game-logic-frame
                           :context/elapsed-game-time
                           :context/mouseover-entity
                           :context/player-message]]
           [:context/screens [:screens/main-menu
                              :screens/game
                              :screens/map-editor
                              :screens/minimap
                              :screens/options-menu
                              :screens/property-editor]]
           [:context/transaction-handler]
           [:context/effect]
           [:context/ecs]
           [:context/modifier]
           [:tx/all]
           [:effect/all]
           [:entity/all]
           [:modifier/all]]}
