{:app {:title "Core"
       :width 1440
       :height 900
       :full-screen? false
       :fps 10}
 :context [[:context.libgdx/graphics true] ; ?
           [:context.libgdx/assets true] ; ?
           [:context.libgdx/ui true] ; ok
           [:context.libgdx/input true] ; ok
           [:context.libgdx/image-drawer-creator true] ; ?
           [:context.libgdx/stage true] ; ?
           [:context.libgdx/tiled true] ; ?

           [:effect/all true]
           [:entity/all true]
           [:modifier/all true]

           ; belongs to properties?
           [:property/all true] ; ?

           ; ? move to properties ?! belongs together?
           [:context/property-types {:properties/audiovisual true
                                     :properties/creature true
                                     :properties/item true
                                     :properties/skill true
                                     :properties/world true}]

           [:context/properties {:file "resources/properties.edn"}]

           ; context.screens/bg-image
           [:context/background-image "ui/moon_background.png"]
           [:context/screens {:first-screen :screens/core
                              :screens {:screens/core      true
                                        }}]
           ; ?
           [:context/error-modal true]]}
